.idea/
Урок 5. Практическое задание/task_1/user_text.txt
Урок 5. Практическое задание/task_3/numbers_ru.txt
Урок 5. Практическое задание/task_5/numbers.dat
Урок 5. Практическое задание/task_7/firms.json
