
Урок 4. Практическое задание/.idea/.name
Урок 4. Практическое задание/.idea/inspectionProfiles/profiles_settings.xml
Урок 4. Практическое задание/.idea/misc.xml
Урок 4. Практическое задание/.idea/modules.xml
Урок 4. Практическое задание/.idea/vcs.xml
Урок 4. Практическое задание/.idea/workspace.xml
Урок 4. Практическое задание/.idea/Урок 4. Практическое задание.iml
