.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/python_basics.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/R_User_Library.xml
result.txt
Урок 5. Практическое задание/task_3/one-two-result.txt
Урок 5. Практическое задание/task_7/task_7_result.json
Урок 5. Практическое задание/task_5/task_5_result.txt
